{{ if eq .Page.Language.Lang "en" }}
If you have chosen to donate at least 50 SEK per month, you are eligible to receive the Möbius magazine (when it's printed)! Fill in <a href="https://docs.google.com/forms/d/e/1FAIpQLSebnHWFE1hU4bxYF9T4NFnl07dzHYYCf4G7b0JyKRqAN7bMwA/viewform?usp=header">here</a> so we can reach you when the next issue is printed.
{{ else }}
Om du har valt att donera åtminstone 50kr per månad så är du behörig för att få Möbius tidning (när den väl trycks)! Fyll i <a href="https://docs.google.com/forms/d/e/1FAIpQLSebnHWFE1hU4bxYF9T4NFnl07dzHYYCf4G7b0JyKRqAN7bMwA/viewform?usp=header">här</a> så kan vi nå dig när nästa exemplar trycks.
{{ end }}
